# Week One: Activity Two

## Printing Code

In [2]:
##To print code
print("Hello World")

Hello World

In [4]:
#Print a message of your choice
print("Hi")

Hi

## Variables

In [5]:
#assign a variable name to a DNA sequence
mydna="ATAC"

In [6]:
#print mydna
print(mydna)

ATAC

In [30]:
#Print the statement "My sequence is: ATAC" by combining the mydna variable and "My sequence is:" in the print statement 
print("My sequence is:",mydna)

My sequence is: ATAC

## Data Types

In [11]:
#assign the following variable names and check the type
#1,"twenty", 16.8, "dna",1/2
#example
x=1
type(x)

int

In [16]:
#"twenty"
y="twenty"
type(y)

str

In [17]:
#16.8
z=16.8
type(z)

float

In [18]:
#"dna"
a="dna"
type(a)

str

In [19]:
#1/2
b=1/2
type(b)

float

## Analysing Data

In [21]:
#data 
myseq="ATACTATATATATCATAGATACATGACATACAGATACAGATCATAATCATGATACTA"

In [22]:
#get the length 
len(myseq)

57

In [23]:
#how many A's
#use count()
myseq.count("A")

26

In [24]:
#how many G's
#use count()
myseq.count("G")

5

In [25]:
#how many T's
#use count()
myseq.count("T")

17

In [26]:
#how many C's
#use count()
myseq.count("C")

9

In [28]:
#Add the following to myseq "ATATATAT"
mynewseq=myseq+"ATATATAT"
print(mynewseq)

ATACTATATATATCATAGATACATGACATACAGATACAGATCATAATCATGATACTAATATATAT

In [29]:
#replace C with G
myseq.replace("C","G")

'ATAGTATATATATGATAGATAGATGAGATAGAGATAGAGATGATAATGATGATAGTA'