# Week One: Activity Two

## Printing Code

In [5]:
##To print code
print("Hello World")

Hello World

In [ ]:
#Print a message of your choice

## Variables

In [6]:
#assign a variable name to a DNA sequence
mydna="ATAC"

In [7]:
#print mydna
print(mydna)

ATAC

In [ ]:
#Print the statement "My sequence is: ATAC" by combining the mydna variable and "My sequence is:" in the print statement

## Data Types

In [9]:
#assign the following variable names and check the type
#1,"twenty", 16.8, "dna",1/2
#example
x=1
type(x)

int

In [ ]:
#"twenty"

In [ ]:
#16.8

In [ ]:
#"dna"

In [1]:
#1/2

## Analysing Data

In [32]:
#data 
myseq="ATACTATATATATCATAGATACATGACATACAGATACAGATCATAATCATGATACTA"

In [3]:
#get the length 
len()

In [4]:
#how many A's
#use count()
count()

In [49]:
#Add the following to myseq "ATATATAT"

In [52]:
#replace C with G

In [56]:
#print the first letter

AGT

In [ ]:
#print letters 2 to 4

In [ ]:
#print letters 2 to 3

# Activity Three

Now we know the basics you should be able to do the following exercise:

The sequence "ATACATGATACAGATCAGATACAGATACGATACATAGATATACTAGATCAT" is included in the notebook, with this sequence carry out the following:

- Assign the sequence the variable name seq1
- Find the length of the sequence and print the following statement, "My DNA has x bases" with x being the length of the sequence.
- Count how many of each base is in seq1
- Replace all the T's with C and call it replaceseq
- The scientist that gave you the sequence forgot the first bases, add "CAGCAG" to the start of seq1
- Extract the first 10 bases

In [ ]:
#make the seq1 variable

In [ ]:
#get the length

#print the statement with the length

In [ ]:
#count the number of each base
#A

#C

#T

#G

In [ ]:
#replace t with c

In [ ]:
#add "CAGCAG" to the start of seq1

In [ ]:
#extract the first 10 bases